/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --ion-color-primary: #3880ff;
    --ion-color-secondary: #5260ff;
    --ion-color-medium: #92949c;
}